.characters {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: space-evenly;
    align-content: space-around;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc; /* add border */
    height: 300px;
    border-radius: 1rem;
    margin: 0.5rem;
}