.selection-container{
  overflow-y: scroll; /* enable vertical scrolling */
  padding: 20px; /* add padding to the content */
  background-color: #FFF6D3;
  border: 1px solid #ccc; /* add border */
  border-radius: 10px; /* add border-radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* add box-shadow */
  width: 300px;
}

/* from itemCategory  */
.uncollapsed:after {
  margin: auto 0 auto auto;
  content: "\2796";
}

.collapsed:after {
  margin: auto 0 auto auto;
  content: '\02795';
}

.item-category button,.set-category button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 10px;
  border-radius: 1rem;
  background-color: #e6deff;
  margin: 10px 0;
}

.item-details {
  display: flex;
  align-items: center;
}

/* specially for the sets under Sets category */
.set-selection button {
  font-size: xx-small;
  background-color: rgb(231, 249, 217);
}