@font-face {
    font-family: Maplestory;
    src: url("./assets/Maplestory\ OTF\ Light.otf");
}

body {
    background-color: #DDF2FD;
    font-family: 'Maplestory', Arial, Helvetica, sans-serif;
    color: grey;
}
