@font-face {
    font-family: Maplestory;
    src: url("./assets/Maplestory\ OTF\ Light.otf");
}

* {
    font-family: 'Maplestory', Arial, Helvetica, sans-serif;
}

body {
    background-color: #DDF2FD;
    color: grey;
}

.app-container {
    display: grid;
    grid-template-columns:400px auto;
    height: 98vh;
    /* overflow-y: scroll; */
}